package com.zyiot.commonservice.service;

import java.util.List;

import org.apache.ibatis.annotations.Param;

import com.zyiot.commonservice.entity.${classNameUpCase};
import com.baomidou.mybatisplus.plugins.Page;
import com.baomidou.mybatisplus.service.IService;

/**
 * <p>
 *  服务类
 * </p>
 *
 * @author ${author}
 * @since ${time}
 */
public interface I${classNameUpCase}Service extends IService<${classNameUpCase}> {

	public Page<${classNameUpCase}> find${classNameUpCase}ByPage(Page<${classNameUpCase}> page,${classNameUpCase} ${classNameLowCase});
	public Page<${classNameUpCase}> findOr${classNameUpCase}ByPage(Page<${classNameUpCase}> page,String key);
	public List<${classNameUpCase}> find${classNameUpCase}All(${classNameUpCase} ${classNameLowCase});
	
	
}
